[submodule "emacs-neotree"]
	path = emacs-neotree
	url = https://github.com/jaypei/emacs-neotree
[submodule "dockerfile-mode"]
	path = dockerfile-mode
	url = https://github.com/spotify/dockerfile-mode
[submodule "powerline"]
	path = powerline
	url = https://github.com/milkypostman/powerline
[submodule "moe-theme.el"]
	path = moe-theme.el
	url = https://github.com/kuanyui/moe-theme.el
[submodule "ac-math"]
	path = ac-math
	url = https://github.com/vspinu/ac-math
[submodule "math-symbol-lists"]
	path = math-symbol-lists
	url = https://github.com/vspinu/math-symbol-lists
[submodule "go-mode.el"]
	path = go-mode.el
	url = https://github.com/dominikh/go-mode.el
[submodule "git-modes"]
	path = git-modes
	url = https://github.com/magit/git-modes
